@media (max-width: 992px) {
    .row [class^="col"] {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  .indexedStep {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: var(--color-blue-03) !important;
  }


  .RSPBprogression {
    background-color: var(--color-blue-03) !important;
  }

  .nav-btn {
    background-color: var(--color-blue-01);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .nav-btn:hover {
    background-color: var(--color-blue-03);
  }