.card {
    width: 350px;
    height: 230px;
    margin-bottom: 20px; /* Espaçamento entre os cards */
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%; /* Torna o card responsivo */
      max-width: 350px; /* Largura máxima em telas menores */
    }
  }
  