.navbar-light {
  background-color: #ececec !important;
}

.navbar-logo {
  width: 200px;
  height: auto;
  margin-left: 20px;
}

.navbar-toggler {
  margin-right: 10px;
}

.offcanvas {
  background-color: #f0f0f0 !important;
}
.offcanvas-header {
  background-color: #f0f0f0;
}
.offcanvas-body {
  background-color: #f0f0f0;
}
  .sidebar {
    background-color: #f0f0f0 !important;
    backdrop-filter: blur(10px);
  }