.navbar-dark {
  background-color: #041022;
}

.navbar-logo {
  width: 200px;
  height: auto;
}


@media(max-width: 991px) {
  .sidebar {
    background-color: rgba(8, 28, 58, 0.15) !important;
    backdrop-filter: blur(10px);
  }
}