.offcanvas-main-changed {
  background-color: var(--color-white);
}

.offcanvas-header {
  display: flex;
  align-items: center;
}

.offcanvas-main-title {
  color: var(--color-blue-01);
}

.arrow {
  color: var(--color-blue-03);
  font-size: 14px;
  font-weight: 100;
  margin-left: 0.5rem;
}

.nav-link:hover .arrow {
  color: var(--color-light-grey-02);
}

.hr {
  border-top: 1px solid var(--color-blue-01);
}

.btn .btn-outline-secondary:active {
  color: var(--color-white) !important;
}
