@media (maxWidth: 992px) {
  .row [class^="col"] {
    width: 100%;
    margin-bottom: 20px;
  }
}

.btn-add
 {
  background-color: var(--color-blue-01);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.btn-add:hover {
  background-color: var(--color-blue-03);
}

.nav-btn {
  background-color: white !important;
  color: var(--color-blue-04) !important;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-save,
.btn-cancel {
  padding: 0.5rem;
  background-color: var(--color-yellow-01);
  color: var(--color-grey-01);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-save:hover,
.btn-cancel:hover {
  background-color: var(--color-yellow-02);
}

.modal-skill-interest-cancel-btn,
.modal-team-cancel-btn {
  background-color: var(--color-grey-02);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.modal-skill-interest-cancel-btn:hover,
.modal-team-cancel-btn:hover {
  background-color: var(--color-grey-01);
}

.modal-skill-interest-save-btn,
.modal-team-save-btn {
  background-color: var(--color-yellow-01);
  color: var(--color-grey-01);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.modal-skill-interest-save-btn:hover,
.modal-team-save-btn:hover {
  background-color: var(--color-yellow-02);
}

.btn .btn-outline-secondary .btn-custom-asset:active{
  background-color: var(--color-blue-01) !important;
  color: var(--color-white) !important;
  border: var(--color-blue-01) !important;
  cursor: pointer;
}

.btn .btn-outline-secondary .btn-custom-asset{
  background-color: var(--color-white) !important;
  color: var(--color-blue-04) !important;
  border: var(--color-blue-01) !important;
  cursor: pointer;
}

.btn .btn-outline-secondary .btn-custom-asset:hover{
  background-color: none !important;
  color: none !important;
  border: none !important;
  cursor: pointer;
}