.text-dark-blue-01 .form-control:placeholder-shown + label {
  color: var(--color-dark-blue-01);
}

.text-dark-blue-01 .form-control:not(:placeholder-shown) + label {
  color: var(--color-dark-blue-02);
}

.text-blue-02 {
  color: var(--color-blue-02);
}

.text-blue-02:hover {
  color: var(--color-blue-01);
}

.btn.btn-primary {
  background-color: var(--color-blue-01);
  color: var(--color-white);
}

.btn.btn-primary:hover {
  background-color: var(--color-blue-02);
  color: var(--color-dark-blue-01);
}

@media (max-width: 767px) {
  .custom-scroll {
    overflow-y: auto;
    height: calc(100vh - 56px); /* Ajuste 56px se necessário */
  }
}